<nav class="links fadeIn animated">
    <ul>
        {{navigation}}
        <li class="rss"><a title="Admin" href="/ghost/"><i class="fa fa-lock"></i></a></li>
        {{#is "post"}}
        <li class="edit"><a title="Edit" href="/ghost/editor/{{id}}"><i class="fa fa-pencil"></i></a></li>
        {{/is}}
        {{#is "page"}}
        <li class="edit"><a title="Edit" href="/ghost/editor/{{id}}"><i class="fa fa-pencil"></i></a></li>
        {{/is}}
    </ul>
</nav>
